<div class="panel panel-default">
	<div class="panel-heading">Authors</div>
	<div class="panel-body">
		<div>
			<div class="tooltip-common">
				<a href="#/authors/new" class="btn btn-default glyphicon glyphicon-plus"></a>
				<span class="tooltiptext">Create new book</span>
			</div>
			
		</div>
		<br />
		<div>
			<table class="table table-bordered table-condensed table-hover">
				<thead>
					<tr>
						<th>Author</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="author in Authors">
						<td ng-bind="author.Fio"></td>
						<td style="width: 9%;">
							<div class="tooltip-common">
								<button type="button" class="btn btn-primary" ng-click="actions.details(author)">
									<span class="glyphicon glyphicon-edit"></span>
								</button>
								<span class="tooltiptext">Edit</span>
							</div>
							<div class="tooltip-common">
								<button type="button" class="btn btn-danger" ng-click="actions.remove(author)">
									<span class="glyphicon glyphicon-remove"></span>
								</button>
								<span class="tooltiptext">Remove</span>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
