<div class="panel panel-default">
	<div class="panel-heading">Genres</div>
	<div class="panel-body">
		<div>
			<div class="tooltip-common">
				<a href="#/genres/new" class="btn btn-default glyphicon glyphicon-plus"></a>
				<span class="tooltiptext">Create new genre</span>
			</div>
			
		</div>
		<br />
		<div>
			<table class="table table-bordered table-condensed table-hover">
				<thead>
					<tr>
						<th>Name</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="genre in genresCtrl.Genres">
						<td ng-bind="genre.Name"></td>
						<td style="width: 9%;">
							<div class="tooltip-common">
								<button type="button" class="btn btn-primary" ng-click="genresCtrl.actions.details(genre)">
									<span class="glyphicon glyphicon-edit"></span>
								</button>
								<span class="tooltiptext">Edit</span>
							</div>
							<div class="tooltip-common">
								<button type="button" class="btn btn-danger" ng-click="genresCtrl.actions.remove(genre)">
									<span class="glyphicon glyphicon-remove"></span>
								</button>
								<span class="tooltiptext">Remove</span>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
