<div class="panel panel-default">
	<div class="panel-heading">Genres</div>
	<div class="panel-body">
		<div>
			<div class="tooltip-common">
				<a href="#/genres/new" class="btn btn-default glyphicon glyphicon-plus"></a>
				<span class="tooltiptext">Create new genre</span>
			</div>
			
		</div>
		<br/>
		<script type="text/ng-template" id="nodes_renderer.html">
			<div cclass="angular-ui-tree-handle tree-node tree-node-content" ui-tree-handle data-nodrag>
				<a class="btn btn-success btn-xs" ng-if="item.Children && item.Children.length > 0" data-nodrag ng-click="actions.toogle(this)">
					<span class="glyphicon" ng-class="{
									  'glyphicon-chevron-right': collapsed,
									  'glyphicon-chevron-down': !collapsed
									}">

					</span>
				</a>
				<span ng-if="!item.mode" data-nodrag ng-click="actions.rename($event, item)">
					{{item.Name}}
				</span>
				
				<a class="pull-right btn btn-primary btn-xs" data-nodrag ng-click="actions.add(this)">
					<span class="glyphicon glyphicon-plus"></span>
				</a>
				<a class="pull-right btn btn-danger btn-xs" data-nodrag ng-click="actions.remove(item)">
					<span class="glyphicon glyphicon-remove"></span>
				</a>
			</div>
			<ol ui-tree-nodes="" ng-model="item.Children" ng-class="{hidden: collapsed}">
				<li ng-repeat="item in item.Children" ui-tree-node ng-include="'nodes_renderer.html'">
				</li>
			</ol>
		
		</script>
		<div class="col-sm-6" ng-if="Genres.length > 0" ui-tree>
			<ol ui-tree-nodes="" ng-model="Genres" id="tree-root">
				<li ng-repeat="item in Genres" ui-tree-node ng-include="'nodes_renderer.html'">
				</li>
			</ol>
		</div>
	</div>
</div>