<div class="panel panel-default">
	<div class="panel-heading">Invoices</div>
	<div class="panel-body">
		<div>
			<div class="tooltip-common">
				<a href="#/invoices/new" class="btn btn-default glyphicon glyphicon-plus"></a>
				<span class="tooltiptext">Create new invoice</span>
			</div>

		</div>
		<br />
		<div>
			<table id="publishers-table" class="table table-hover">
				<thead>
				<tr>
					<th>Date</th>
					<th>Incoming Books</th>
					<th></th>
				</tr>
				</thead>
				<tbody>
				<tr ng-repeat="invoice in ctrl.Invoices | orderBy: '-Date'">
					<td ng-click="actions.enableEdit($event,invoice)">
						<span ng-bind="invoice.Date | date: 'yyyy.MM.dd HH:mm:ss'">

							</span>
					</td>
					<td>
						<ul class="list-group">
							<a href="#/books/{{incomingBook.Book.Id}}/edit" class="list-group-item" ng-repeat="incomingBook in invoice.IncomingBooks" 
								ng-bind-template="{{incomingBook.Book.Name}} - {{incomingBook.Count}}">
							</a>
						</ul>
					</td>
					<td style="width: 9%;">

						<div>
							<button type="button" class="btn btn-danger" ng-click="ctrl.actions.remove(invoice)">
								<span class="glyphicon glyphicon-remove"></span>
							</button>
						</div>
					</td>
				</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
