<div class="panel panel-default">
	<div class="panel-heading">Publishers</div>
	<div class="panel-body">
		<div>
			<div>
				<button type="button" href="#/authors/new" class="btn btn-default glyphicon glyphicon-plus" ng-click="actions.showAddForm($event)"></button>
			</div>
			<br />
			<div id="gridAuthors" ui-grid="gridPublishers" class="myGrid"></div>

		</div>
	</div>
</div>
