<div class="panel panel-default">
	<div class="panel-heading">Rents</div>
	<div class="panel-body">
		<div>
			<button type="button" class="btn btn-default glyphicon glyphicon-plus" ng-click="ctrl.actions.details()"></button>
		</div>
		<br />
		<div>
			<div id="gridRents" ui-grid="ctrl.gridOptions" ui-grid-pagination class="myGrid"></div>
		</div>
	</div>
</div>
